@using Microsoft.Data.SqlClient
@using System.Data
@model Views_Home_tommyhilfiger
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<form method="post">
    <style id="cavani_fn_inline-inline-css" type="text/css">
        .cursor-inner.cursor-slider.cursor-hover span:after,
        .cursor-inner.cursor-slider.cursor-hover span:before {
            background-color: #fff;
        }

        .cursor-outer .fn-cursor, .cursor-inner.cursor-slider:not(.cursor-hover) .fn-cursor {
            border-color: #fff;
        }

        .cursor-inner .fn-cursor, .cursor-inner .fn-left:before, .cursor-inner .fn-left:after, .cursor-inner .fn-right:before, .cursor-inner .fn-right:after {
            background-color: #fff
        }

        .cursor-inner.cursor-hover .fn-cursor {
            background-color: rgba(0,0,0,0.1);
        }
    </style>
    <script type="text/javascript" src="~/js/jquery.min.js" id="jquery-core-js"></script>

    <div class="marketify-cursor cursor-outer" data-default="yes" data-link="yes" data-slider="no" style="visibility: visible; transform: translate(1422px, 10px);"><span class="fn-cursor"></span></div>
    <div class="marketify-cursor cursor-inner" data-default="yes" data-link="yes" data-slider="no" style="visibility: visible; transform: translate(1422px, 10px);"><span class="fn-cursor"><span class="fn-left"></span><span class="fn-right"></span></span></div>

    </div>
    <script type="text/javascript" id="cavani-fn-init-js-extra">
        /* <![CDATA[ */
        var CavaniAjaxObject = { "ajax_url": "https:\/\/marketifythemes.net\/wp\/cavani\/02\/wp-admin\/admin-ajax.php", "siteurl": "https:\/\/marketifythemes.net\/wp\/cavani\/02", "nonce": "ac6a6f5b3a" };
                                        /* ]]> */
    </script>
    <script type="text/javascript" src="~/js/init.js" id="cavani-fn-init-js"></script>
    <div class="container">

        <div class="col-9 pl-3 col-12 row mt-5">
            <h1>Product Details</h1>
        </div>



        <table class="table table-bordered table-striped">
            <tbody>
                @{

                    string connetionString;
                    SqlConnection cnn;
                    connetionString = @"Data Source=LAPTOP-3RGNJ53I\SQLEXPRESS;Database= Bulky;Trusted_Connection = True;";
                    cnn = new SqlConnection(connetionString);
                    cnn.Open();
                    DataTable dt = new DataTable();
                    //productDetail
                    SqlCommand product = new SqlCommand("SELECT productDetail FROM [productDataTable]", cnn);
                    SqlDataAdapter daProduct = new SqlDataAdapter(product);
                    daProduct.Fill(dt);
                    var printProduct = dt.Rows;

                    //productValue
                    dt = new DataTable();
                    SqlCommand value = new SqlCommand("SELECT productValue FROM [productDataTable]", cnn);
                    SqlDataAdapter daValue = new SqlDataAdapter(value);
                    daValue.Fill(dt);
                    var productValue = dt.Rows;

                    //productImageUrl
                    dt = new DataTable();
                    SqlCommand imageUrl = new SqlCommand("SELECT imageUrl FROM [productDataTable]", cnn);
                    SqlDataAdapter daImageUrl = new SqlDataAdapter(imageUrl);
                    daImageUrl.Fill(dt);
                    var productImageUrl = dt.Rows;

                    //productUrl
                    dt = new DataTable();
                    SqlCommand url = new SqlCommand("SELECT productUrl FROM [productDataTable]", cnn);
                    SqlDataAdapter daUrl = new SqlDataAdapter(url);
                    daUrl.Fill(dt);
                    var productUrl = dt.Rows;

                    int om = dt.Rows.Count;

                }
                @for (int i = 0; i < om; i++)
                {
                    <tr>
                        <td class="col-4">
                            @printProduct[i].ItemArray.FirstOrDefault()
                        </td>
                        <td class="col-4 p-2">
                            <img src="@productImageUrl[i].ItemArray.FirstOrDefault()" href="@productUrl[i].ItemArray.FirstOrDefault()">
                        </td>
                        <td class="col-2 p-2">
                            @productValue[i].ItemArray.FirstOrDefault()
                        </td>
                        <td class="col-2">
                            <button class="btn btn-primary" style="border-radius: 15px" type="button">
                                <a href="@productUrl[i].ItemArray.FirstOrDefault()" style="text-decoration: none; color: #ffffff" target="_blank">Click To Buy</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - bulkyBookWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</form>


